<div id="content_main">

  <h1>Screen Test</h1>


  <div id="film_feed">
    <% @movies.each do |movie| %>
      <div class="film_card">
          <img src="<%= movie.poster %>"/>
          <p><%= movie.title %></p>
          <p><%= movie.year %></p>
      </div>
    <% end %>
  </div>


  <div id="radar_chart">
    radar chart
  </div>


  <div id="trash_bin">
    trash bin
  </div>
</div>
