

<div class="content_main">

  <h1>Screen Test</h1>

  <div id="trash_bin">

  </div>

  <div id="film_feed">

  </div>

  <div id="radar_chart">
    <canvas id="canvas" height="450" width="450"></canvas>
  </div>
  
</div>

<script id="filmTemplate" type="text/template">
      <div class='film_card' id='<%%= id %>'>
        <div class='film_poster'>
          <img src='<%%= poster %>' />
        </div>

        <div class='film_title'>
          <%%= title %>
        </div>

        <div class='film_year'>
          <%%= year %>
        </div>
      </div>
    </script>


