<header>
  <h1>SCREEN TEST</h1>
  <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>

  <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button"></div>

</header>

<% if user_signed_in? %>

  <div class="content_main">

    <div class="col_left">
      <div id="trash_bin">
        <h2>TRASH</h2>
      </div>

      <div id="film_feed">

      </div>
    </div>

    <div id="radar_chart">

   <div class="instruction"> <p>Drag five films onto the graph and see what your taste in movies says about YOU!</p>

   <p>[What The Chart Means--Click Here]</p>
 </div>

      <canvas id="canvas" height="650" width="650" ></canvas>

    </div>

    <div id="like_tracker">

    </div>
  </div>

  <div class="key_dialog hidden">
    <p>(Hide definitions--click here to keep adding movies)</p>
    <h3>What Does Your World-View Mean?</h3>
    <strong>Instinctive:</strong>
    <p>"Living off the land, seeking simple satisfaction and leaving little behind."</p>
    <strong>Tribalistic:</strong>
    <p>"Valuing customs, elders and the clan--in tune with the mystical, and in harmony with nature."</p>
    <strong>Exploitive:</strong>
    <p>"In a world of haves and have-nots, it's good to be a have. No guilt, no shame"</p>
    <strong>Absolutistic:</strong>
    <p>"Bringer of order, stability, and righteousness. Principled and purposeful."</p>
    <strong>Achievist:</strong>
    <p>"Plays to win--independently seeking the good life and having a good time doing it."</p>
    <strong>Relativistic:</strong>
    <p>"Nurturing and sharing, sensitive to the spiritual and to the internal world."</p>
    <strong>Systemic:</strong>
    <p>"Using tools and the human mind to work for the greater good."</p>
  </div>

  <script id="filmTemplate" type="text/template">
    <div class='film_card' id='<%%= id %>'>
      <div class='film_poster'>
        <img src='<%%= poster %>' />
      </div>

      <div class='film_title'>
        <%%= title %>
      </div>

      <div class='film_year'>
        <%%= year %>
      </div>
    </div>
  </script>

  <script id="likeTemplate" type="text/template">
    <div class='liked_card' id='<%%= movie_id %>'>
      <div class='liked_poster'>
        <img src='<%%= movie_poster %>' />
      </div>

      <div class='liked_title'>
        <%%= movie_title %>
      </div>

      <div class='liked_year'>
        <%%= movie_year %>
      </div>
    </div>
  </script>

<% else %>
  Must be Signed in
<% end %>
