<div class="content_main">

  <h1>Screen Test</h1>

  <div id="trash_bin">

  </div>

  <div id="film_feed">

  </div>


  <div id="radar_chart">
    <canvas id="canvas" height="450" width="450"></canvas>
  </div>

</div>

<div class="key_dialog hidden">

  <div id="tribalistic" class="">
    <p>Red

    "PowerGods. The Egocentric vMEME

        In a world of haves and have-nots, it's good to be a have
        Avoid shame, defend reputation, be respected
        Gratify impulses and sense immediately
        Fight remorselessly and without guilt to break constraints
        Don't worry about consequences that may not come"[8
      </p>
  </div>

</div>
