<% if user_signed_in? %>


  <div class="content_main">

    <h1>Screen Test</h1>

    <div id="trash_bin">
      <h2>TRASH</h2>
    </div>

    <div id="film_feed">

    </div>


    <div id="radar_chart">

      <p>Click the chart at any time to see full world-view definitions</p>
      <canvas id="canvas" height="450" width="450"></canvas>
    </div>

    <div id="like_tracker">

    </div>
  </div>

  <div class="key_dialog hidden">
    <p>(Hide definitions--click here to keep adding movies)</p>
    <h3>What Does Your World-View Mean?</h3>
    <strong>Instinctive:</strong>
    <p>"Living off the land, seeking simple satisfaction and leaving little behind."</p>
    <strong>Tribalistic:</strong>
    <p>"Valuing customs, elders and the clan--in tune with the mystical, and in harmony with nature."</p>
    <strong>Exploitive:</strong>
    <p>"In a world of haves and have-nots, it's good to be a have. No guilt, no shame"</p>
    <strong>Absolutistic:</strong>
    <p>"Bringer of order, stability, and righteousness. Principled and purposeful."</p>
    <strong>Achievist:</strong>
    <p>"Plays to win--independently seeking the good life and having a good time doing it."</p>
    <strong>Relativistic:</strong>
    <p>"Nurturing and sharing, sensitive to the spiritual and to the internal world."</p>
    <strong>Systemic:</strong>
    <p>"Using tools and the human mind to work for the greater good."</p>
  </div>

  <script id="filmTemplate" type="text/template">
    <div class='film_card' id='<%%= id %>'>
      <div class='film_poster'>
        <img src='<%%= poster %>' />
      </div>

      <div class='film_title'>
        <%%= title %>
      </div>

      <div class='film_year'>
        <%%= year %>
      </div>
    </div>
  </script>

  <script id="likeTemplate" type="text/template">
    <div class='liked_card' id='<%%= movie_id %>'>
      <div class='liked_poster'>
        <img src='<%%= movie_poster %>' />
      </div>

      <div class='liked_title'>
        <%%= movie_title %>
      </div>

      <div class='liked_year'>
        <%%= movie_year %>
      </div>
    </div>
  </script>

<% else %>
  Must be Signed in
<% end %>
