<h2>Search for a Movie:</h2>


<p>
<p>

<div id="search_chart">
  <canvas id="canvas" height="650" width="650" ></canvas>
</div>

<form class='name-form'>
  <p>Name: <input type="text" id='movie_title_field' name='movie_title' placeholder="Search Title"></p>
  <button type="button" id="movie_title_button">Search!</button>
</form>



