/* UTIL */

.clear{
  clear: both;
}

.col_left{
  float:left;
  width: 302px;
  display: inline-block;
}

.content_main {
  width: 1200px;
  margin: 0 auto;
}


#radar_chart {
  float: left;
  width: 650px;
  height: 650px;
  border: 1px solid #333;
  text-align: center;

}

#trash_bin {
  /*float: left;*/
  /*width: 350px;*/
  height: 110px;
  border: 1px solid #333;
}

#film_feed {
/*  float: left;*/
  /*width: 350px;*/
  text-align: center;
  border: 1px solid #333;
}


#radar_chart div.hovered {
  background: #333;
}

.highlight {
  border: 1px solid yellow;
  background-color:yellow;
}


.hidden {
  display: none;
}
.film_card {
  border: 5px solid #999;
  border-radius: 10px;
  height: 110px;
  background-color: #666;
  margin-bottom: 5px;
}

.film_card img{
  width: 70px;
  height: 100px;
  float: left;
  margin-left: 11px;
  margin-top: 5px;
}

.film_title{
  font-size: 20px;
  margin-top: 18px;
  font-weight: bold;
  color: white;
}
.film_year{
  color: white;
}

#like_tracker{
  float: left;
  width: 244px;
  min-height: 100px;
  border: 1px solid black;
}



.liked_card{
  border: 1px solid #999;
  border-radius: 10px;
  height: 50px;
  background-color: #666;
}

.liked_card img{
  width: 30px;
  height: 40px;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.liked_title{
  margin-top: 2px;
  color: white;
}

.liked_year{
  color: white;
}

.key_dialog {
  position: absolute;
  width: 500px;
  min-height: 200px;
  top: 30%;
  left: 50%;
  margin-left: -360px;
  background-color: ivory;
  border: 2px solid red;
  border-radius: 20px;
  font-size: 1em;
  padding: 10px;
}

.key_dialog:hover {
  cursor: pointer;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: red;
}

body {
 font-family: 'PT Sans Narrow', sans-serif;
 background-color: #c5c5c5;
}

header {
  background-color: #e8e8e8;
  height: 100px;
  width:100%;
  font-size: 30px;
  border: 2px black;
  letter-spacing: -1px;
}

canvas {
  margin-top: -40px;
}

p.instruction{
  line-height: .3em;
  font-color: gray;
}
/*style="width: 50px; height: 100px;" */

