/* UTIL */

.clear{
  clear: both;
}



.content_main {
  width: 960px;
  margin: 0 auto;
}


#radar_chart {
  float: left;
  width: 300px;
  height: 300px;
  border: 1px solid #333;
}

#trash_bin {
  float: left;
  width: 150px;
  height: 300px;
  border: 1px solid #333;
}

#film_feed {
  float: left;
  width: 500px;
  text-align: center;
  border: 1px solid #333;
}


#radar_chart div.hovered {
  background: #333;
}

.highlight {
  border: 1px solid yellow;
  background-color:yellow;
}


.hidden {
  display: none;
}
.film_card {
  border: 5px solid #999;
  border-radius: 10px;
  height: 110px;
  background-color: #666;
}

.film_card img{
  width: 70px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

.film_title{
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.key_dialog {
  position: absolute;
  width: 500px;
  min-height: 200px;
  top: 30%;
  left: 50%;
  margin-left: -360px;
  background-color: ivory;
  border: 2px solid green;
  border-radius: 20px;
  font-size: 1em;
  padding: 10px;
}

.key_dialog:hover {
  cursor: pointer;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: red;
}

body {
 font-family: 'PT Sans Narrow', sans-serif;
 background-color: #c5c5c5; 
}

header {
  background-color: #e8e8e8;
  height: 100px;
  width:100%;
  font-size: 30px;
  border: 2px black;
  letter-spacing: -1px;
}

/*style="width: 50px; height: 100px;" */

