.content_main {
  width: 960px;
  margin: 0 auto;
}


#radar_chart {
  float: left;
  width: 300px;
  height: 300px;
  border: 1px solid #333;
}

#trash_bin {
  float: left;
  width: 150px;
  height: 300px;
  border: 1px solid #333;
}

#film_feed {
  float: left;
  width: 500px;
  text-align: center;
  border: 1px solid #333;
  /*overflow: hidden;*/
  height:500px;
}


#radar_chart div.hovered {
  background: #333;
}

.highlight {
    border: 1px solid yellow;
    background-color:yellow;
}

.hidden {
  display: none;
}

.key_dialog {
  position: absolute;
  width: 400px;
  min-height: 200px;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  background-color: ivory;
  border: 2px solid green;
  border-radius: 20px;
  font-size: 1.5em;
  padding: 10px;
}

.key_dialog:hover {
  cursor: pointer;
}
